*{
	margin: 0;
	padding: 0;	
}
	
html{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	text-align: center;
	background-image: linear-gradient(red, blue) ;
}

div{
	display: inline-block;
	position: relative;
}

h1{
	font-family: "Sofia", sans-serif;
	font-size: 2.5em;
	margin-bottom: 20px;
	width: 7.3em;
	margin-left: 1.85em;
}

h1:hover{
	cursor: pointer;
}

ul{
	position: absolute;
	right: 0;
	width: 220px;
	height: 100%;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	color: #eee;
	font-family: helvetica;
}

li{
	padding: 5px 5px 5px 5px;
}

label{
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	text-align: right;
	padding-right: 5px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

input{
	width: 50%;
	height: 24px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	background: #ccc;
	color: #333;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	transition: background 200ms;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

input:focus{
	outline: none;
	background: #fff;
	color: #222;
}

input[type=button]{
	background: #111;
	color: #eee;
	margin-left: 50%;
	font-weight: normal;
	cursor: pointer;
}

input[type=button]:active{
	transform: translate(2px,2px);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
}

canvas{
	margin-right: 220px;
	display: block;
	float: left;
}

#content #nav a {
    background-color: #FF0; 
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#content #nav a:hover {
    background-color: #AD310B;
}
